ion-content {
  --padding-top: 60px !important;
  --padding-bottom: 80px !important;
  --background: #f9f9f9;
}

ion-card {
  --background: white;
  border-radius: 2px;
  margin-top: 15px;
  margin-bottom: 2px;
  box-shadow: 0 1px 8px rgba(0,0,0,.12);
}

ion-card-header {
  padding-top: 10px;
  padding-bottom: 0;
}

ion-card-title {
  font-size: 18px;
  color: #606062;
}

ion-card-content {
  padding-top: 2px;
  padding-bottom: 10px;
  padding-left: 0px;
  font-size: 13px;
}

ion-icon {
  text-align: center;
  font-size: 60px;
}
